$primary-color: #580158;
$secondary-color: #470147;
$black-color: rgb(27, 27, 27);
$white-color: rgb(231, 231, 231);
$shadow-color: rgba(255, 255, 255, 0.432);
$blue-color: #206357;
$red-color: #792929;