@import '../../sass/base/colors';

.gamelayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.actions {
  display: flex;
  justify-content: center;
  margin: 2vh;
}